{
  "presets": ["@babel/preset-env"],
  // 아래와 같이 위에 설치한 라이브러리를 플러그인으로 넣어줍니다.
  // libraryDirectory 값이 import로 불러올 변수가 됩니다.
  "plugins": [
    ["import", { "libraryName": "antd", "libraryDirectory": "lib" }, "ant"]
  ]
}
