/**
 * This injects Tailwind's base styles and any base styles registered by
 * plugins.
 */
@tailwind base;
/**
  * This injects Tailwind's component classes and any component classes
  * registered by plugins.
  */
@tailwind components;

/**
  * This injects Tailwind's utility classes and any utility classes registered
  * by plugins.
  */
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Lemon&display=swap");
@import url("https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css");
@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Gothic+A1&display=swap");
@layer base {
  html > body {
    font-family: "Gothic A1", sans-serif;
  }
}

.slick-list {
  height: 100% !important;
  overflow: hidden;
}

.slick-arrow {
  color: black;
}

@layer components {
  .item-title {
    @apply text-[1.25rem] flex gap-2.5 font-normal m-0 mb-2.5 items-center;
  }
}
